<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIAZM2aKrFdXrfskdNtQIu5V7unY25J-I</string>
	<key>GCM_SENDER_ID</key>
	<string>670117112036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comisariato</string>
	<key>PROJECT_ID</key>
	<string>comisariato-f4443</string>
	<key>STORAGE_BUCKET</key>
	<string>comisariato-f4443.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670117112036:ios:7e9333ef09853de93ee4f1</string>
</dict>
</plist>